<div class="container">

  <div class="row">
    <div class="col-sm-9 col-md-9">Dodatkowo trzeba zadbać o dodanie prefixów sm, md, lg, oraz xl tak aby strona
      wyświetlała się odpowiednio na każdym ekranie.
      Klasy można łączyć - col-md-9 col-sm-12 Dodatkowo trzeba zadbać o dodanie prefixów sm, md, lg, oraz xl tak aby strona
      wyświetlała się odpowiednio na każdym ekranie.
      Klasy można łączyć - col-md-9 col-sm-12 Dodatkowo trzeba zadbać o dodanie prefixów sm, md, lg, oraz xl tak aby strona
      wyświetlała się odpowiednio na każdym ekranie.
      Klasy można łączyć - col-md-9 col-sm-12 Dodatkowo trzeba zadbać o dodanie prefixów sm, md, lg, oraz xl tak aby strona
      wyświetlała się odpowiednio na każdym ekranie.
      Klasy można łączyć - col-md-9 col-sm-12
    </div>
    <div class="col-md-3 col-sm-3">
      <h3>Szybki kontakt</h3>
      <a href="https://www.facebook.com/krzysiek.koziol96"><i class="fa fa-facebook-official" aria-hidden="true">
        Facebook</i></a><br>
      <a href="https://www.instagram.com/kozinho96/"><i class="fa fa-instagram" aria-hidden="true"> Instagram</i></a><br>
      <a href="https://www.google.com/"><i class="fa fa-envelope" aria-hidden="true"> E-mail</i></a>
    </div>
  </div>
</div>

<div class="scroll">
  <button class="btn btn-success" onclick="goToTop()">
    <i class="fa fa-arrow-circle-up" aria-hidden="true"></i> Do góry
  </button>
</div>


<footer class="center">Copyrights © Krzysztof Kozioł | 2019</footer>
<script src="js/navbar.js"></script>
<script src="js/scroll.js"></script>
